{% extends 'apps/base.html' %}

{% block main_content %}
    <div class="content">
        <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">

            <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
                    aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span
                    class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="../../index.html">
                <div class="d-flex align-items-center"><img class="me-2"
                                                            src="../../assets/img/icons/spot-illustrations/falcon.png"
                                                            alt="" width="40"/><span
                        class="font-sans-serif">falcon</span>
                </div>
            </a>
            <ul class="navbar-nav align-items-center d-none d-lg-block">
                <li class="nav-item">
                    <div class="search-box" data-list='{"valueNames":["title"]}'>
                        <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                            <input class="form-control search-input fuzzy-search" type="search" placeholder="Search..."
                                   aria-label="Search"/>
                            <span class="fas fa-search search-box-icon"></span>

                        </form>
                        <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none"
                             data-bs-dismiss="search">
                            <div class="btn-close-falcon" aria-label="Close"></div>
                        </div>
                        <div class="dropdown-menu border font-base start-0 mt-2 py-0 overflow-hidden w-100">
                            <div class="scrollbar list py-3" style="max-height: 24rem;">
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">Recently
                                    Browsed</h6><a class="dropdown-item fs--1 px-card py-1 hover-primary"
                                                   href="../../app/events/event-detail.html">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle me-2 text-300 fs--2"></span>

                                    <div class="fw-normal title">Pages <span
                                            class="fas fa-chevron-right mx-1 text-500 fs--2"
                                            data-fa-transform="shrink-2"></span> Events
                                    </div>
                                </div>
                            </a>
                                <a class="dropdown-item fs--1 px-card py-1 hover-primary"
                                   href="../../app/e-commerce/customers.html">
                                    <div class="d-flex align-items-center">
                                        <span class="fas fa-circle me-2 text-300 fs--2"></span>

                                        <div class="fw-normal title">E-commerce <span
                                                class="fas fa-chevron-right mx-1 text-500 fs--2"
                                                data-fa-transform="shrink-2"></span> Customers
                                        </div>
                                    </div>
                                </a>

                                <hr class="bg-200 dark__bg-900"/>
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">Suggested
                                    Filter</h6><a class="dropdown-item px-card py-1 fs-0"
                                                  href="../../app/e-commerce/customers.html">
                                <div class="d-flex align-items-center"><span
                                        class="badge fw-medium text-decoration-none me-2 badge-soft-warning">customers:</span>
                                    <div class="flex-1 fs--1 title">All customers list</div>
                                </div>
                            </a>
                                <a class="dropdown-item px-card py-1 fs-0" href="../../app/events/event-detail.html">
                                    <div class="d-flex align-items-center"><span
                                            class="badge fw-medium text-decoration-none me-2 badge-soft-success">events:</span>
                                        <div class="flex-1 fs--1 title">Latest events in current month</div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-1 fs-0"
                                   href="../../app/e-commerce/product/product-grid.html">
                                    <div class="d-flex align-items-center"><span
                                            class="badge fw-medium text-decoration-none me-2 badge-soft-info">products:</span>
                                        <div class="flex-1 fs--1 title">Most popular products</div>
                                    </div>
                                </a>

                                <hr class="bg-200 dark__bg-900"/>
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">Files</h6>
                                <a class="dropdown-item px-card py-2" href="#!">
                                    <div class="d-flex align-items-center">
                                        <div class="file-thumbnail me-2"><img
                                                class="border h-100 w-100 fit-cover rounded-3"
                                                src="../../assets/img/products/3-thumb.png" alt=""/></div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">iPhone</h6>
                                            <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">Antony</span><span
                                                    class="fw-medium text-600 ms-2">27 Sep at 10:30 AM</span></p>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-2" href="#!">
                                    <div class="d-flex align-items-center">
                                        <div class="file-thumbnail me-2"><img class="img-fluid"
                                                                              src="../../assets/img/icons/zip.png"
                                                                              alt=""/></div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">Falcon v1.8.2</h6>
                                            <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">John</span><span
                                                    class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                                        </div>
                                    </div>
                                </a>

                                <hr class="bg-200 dark__bg-900"/>
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">
                                    Members</h6><a class="dropdown-item px-card py-2"
                                                   href="../../pages/user/profile.html">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-l status-online me-2">
                                        <img class="rounded-circle" src="../../assets/img/team/1.jpg" alt=""/>

                                    </div>
                                    <div class="flex-1">
                                        <h6 class="mb-0 title">Anna Karinina</h6>
                                        <p class="fs--2 mb-0 d-flex">Technext Limited</p>
                                    </div>
                                </div>
                            </a>
                                <a class="dropdown-item px-card py-2" href="../../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-l me-2">
                                            <img class="rounded-circle" src="../../assets/img/team/2.jpg" alt=""/>

                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">Antony Hopkins</h6>
                                            <p class="fs--2 mb-0 d-flex">Brain Trust</p>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-2" href="../../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-l me-2">
                                            <img class="rounded-circle" src="../../assets/img/team/3.jpg" alt=""/>

                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">Emma Watson</h6>
                                            <p class="fs--2 mb-0 d-flex">Google</p>
                                        </div>
                                    </div>
                                </a>

                            </div>
                            <div class="text-center mt-n3">
                                <p class="fallback fw-bold fs-1 d-none">No Result Found.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
                <li class="nav-item">
                    <div class="theme-control-toggle fa-icon-wait px-2">
                        <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                               type="checkbox" data-theme-control="theme" value="dark"/>
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                               for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                               title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                               for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                               title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-0 notification-indicator notification-indicator-warning notification-indicator-fill fa-icon-wait"
                       href="../../app/e-commerce/shopping-cart.html"><span class="fas fa-shopping-cart"
                                                                            data-fa-transform="shrink-7"
                                                                            style="font-size: 33px;"></span><span
                            class="notification-indicator-number">1</span></a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link notification-indicator notification-indicator-primary px-0 fa-icon-wait"
                       id="navbarDropdownNotification" href="#" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell" data-fa-transform="shrink-6"
                                                                        style="font-size: 33px;"></span></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-card dropdown-menu-notification"
                         aria-labelledby="navbarDropdownNotification">
                        <div class="card card-notification shadow-none">
                            <div class="card-header">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <h6 class="card-header-title mb-0">Notifications</h6>
                                    </div>
                                    <div class="col-auto ps-0 ps-sm-3"><a class="card-link fw-normal" href="#">Mark all
                                        as read</a></div>
                                </div>
                            </div>
                            <div class="scrollbar-overlay" style="max-height:19rem">
                                <div class="list-group list-group-flush fw-normal fs--1">
                                    <div class="list-group-title border-bottom">NEW</div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush notification-unread" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle" src="../../assets/img/team/1-thumb.png"
                                                         alt=""/>

                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Emma Watson</strong> replied to your comment :
                                                    "Hello world 😍"</p>
                                                <span class="notification-time"><span class="me-2" role="img"
                                                                                      aria-label="Emoji">💬</span>Just now</span>

                                            </div>
                                        </a>

                                    </div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush notification-unread" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <div class="avatar-name rounded-circle"><span>AB</span></div>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Albert Brooks</strong> reacted to <strong>Mia
                                                    Khalifa's</strong> status</p>
                                                <span class="notification-time"><span
                                                        class="me-2 fab fa-gratipay text-danger"></span>9hr</span>

                                            </div>
                                        </a>

                                    </div>
                                    <div class="list-group-title border-bottom">EARLIER</div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle"
                                                         src="../../assets/img/icons/weather-sm.jpg" alt=""/>

                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1">The forecast today shows a low of 20&#8451; in
                                                    California. See today's weather.</p>
                                                <span class="notification-time"><span class="me-2" role="img"
                                                                                      aria-label="Emoji">🌤️</span>1d</span>

                                            </div>
                                        </a>

                                    </div>
                                    <div class="list-group-item">
                                        <a class="border-bottom-0 notification-unread  notification notification-flush"
                                           href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-xl me-3">
                                                    <img class="rounded-circle" src="../../assets/img/logos/oxford.png"
                                                         alt=""/>

                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>University of Oxford</strong> created an event :
                                                    "Causal Inference Hilary 2019"</p>
                                                <span class="notification-time"><span class="me-2" role="img"
                                                                                      aria-label="Emoji">✌️</span>1w</span>

                                            </div>
                                        </a>

                                    </div>
                                    <div class="list-group-item">
                                        <a class="border-bottom-0 notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-xl me-3">
                                                    <img class="rounded-circle" src="../../assets/img/team/10.jpg"
                                                         alt=""/>

                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>James Cameron</strong> invited to join the
                                                    group: United Nations International Children's Fund</p>
                                                <span class="notification-time"><span class="me-2" role="img"
                                                                                      aria-label="Emoji">🙋‍</span>2d</span>

                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center border-top"><a class="card-link d-block"
                                                                               href="../../app/social/notifications.html">View
                                all</a></div>
                        </div>
                    </div>

                </li>
                <li class="nav-item dropdown"><a class="nav-link pe-0" id="navbarDropdownUser" href="#" role="button"
                                                 data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-xl">
                        <img class="rounded-circle" src="../../assets/img/team/3-thumb.png" alt=""/>

                    </div>
                </a>
                    <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                        <div class="bg-white dark__bg-1000 rounded-2 py-2">
                            <a class="dropdown-item fw-bold text-warning" href="#!"><span
                                    class="fas fa-crown me-1"></span><span>Go Pro</span></a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#!">Set status</a>
                            <a class="dropdown-item" href="../../pages/user/profile.html">Profile &amp; account</a>
                            <a class="dropdown-item" href="#!">Feedback</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../../pages/user/settings.html">Settings</a>
                            <a class="dropdown-item" href="../../pages/authentication/card/logout.html">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-12">
                <div class="card mb-3 btn-reveal-trigger">
                    <div class="card-header position-relative min-vh-25 mb-8">
                        <div class="cover-image">
                            <div class="bg-holder rounded-3 rounded-bottom-0"
                                 style="background-image:url({{ user.background_image }});">
                            </div>
                            <!--/.bg-holder-->

                            <input class="d-none" id="upload-cover-image" name="background_image" type="file"/>
                            <label class="cover-image-file-input" for="upload-cover-image"><span
                                    class="fas fa-camera me-2"></span><span>Change cover photo</span></label>
                        </div>
                        <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                            <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"><img
                                    src="{{ user.photo }}" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail"/>
                                <input class="d-none" id="profile-image" name="image" type="file"/>
                                <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span
                                        class="bg-holder overlay overlay-0"></span><span
                                        class="z-index-1 text-white dark__text-white text-center fs--1"><span
                                        class="fas fa-camera"></span><span class="d-block">Update</span></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-8 pe-lg-2">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Profile Settings</h5>
                    </div>
                    <div class="card-body bg-light">
                        <form class="row g-3" method="post" action="{% url 'settings_page' %}">
                            {% csrf_token %}
                            <div class="col-lg-6">
                                <label class="form-label" for="first-name">First Name</label>
                                <input class="form-control" id="first-name" type="text" name="first_name" value="{{ user.first_name }}"/>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label" for="last-name">Last Name</label>
                                <input class="form-control" id="last-name" type="text" name="{{ user.last_name }}" value="{{ user.last_name }}"/>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label" for="email1">Email</label>
                                <input class="form-control" id="email1" type="email" name="email" value="{{ user.email }}"/>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-label" for="email2">Phone</label>
                                <input class="form-control" id="email2" type="text" name="phone_number" value="{{ user.phone_number }}"/>
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label" for="email3">Heading</label>
                                <input class="form-control" id="email3" type="text" name="heading" value="{{ user.heading }}"/>
                            </div>
                            <div class="col-lg-12">
                                <label class="form-label" for="intro">Intro</label>
                                <textarea class="form-control" id="intro" name="introduction" cols="30"
                                          rows="13">{{ user.introduction }}</textarea>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </form> 
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Experiences</h5>
                    </div>
                    <div class="card-body bg-light"><a class="mb-4 d-block d-flex align-items-center"
                                                       href="#experience-form1" data-bs-toggle="collapse"
                                                       aria-expanded="false" aria-controls="experience-form1"><span
                            class="circle-dashed"><span class="fas fa-plus"></span></span><span class="ms-3">Add new experience</span></a>
                        <div class="collapse" id="experience-form1">
                            <form class="row">
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label" for="company">Company</label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm" id="company" type="text"/>
                                </div>
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label" for="position">Position</label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm" id="position" type="text"/>
                                </div>
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label" for="city">City </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm" id="city" type="text"/>
                                </div>
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label" for="exp-description">Description </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <textarea class="form-control form-control-sm" id="exp-description"
                                              rows="3"> </textarea>
                                </div>
                                <div class="col-9 col-sm-7 offset-3 mb-3">
                                    <div class="form-check mb-0 lh-1">
                                        <input class="form-check-input" type="checkbox" id="experience-current"
                                               checked="checked"/>
                                        <label class="form-check-label mb-0" for="experience-current">I currently work
                                            here
                                        </label>
                                    </div>
                                </div>
                                <div class="col-3 text-lg-end">
                                    <label class="form-label" for="experience-form2">From </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm text-500 datetimepicker"
                                           id="experience-form2" type="text" placeholder="d/m/y"
                                           data-options='{"dateFormat":"d/m/y","disableMobile":true}'/>
                                </div>
                                <div class="col-3 text-lg-end">
                                    <label class="form-label" for="experience-to">To </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm text-500 datetimepicker"
                                           id="experience-to" type="text" placeholder="d/m/y"
                                           data-options='{"dateFormat":"d/m/y","disableMobile":true}'/>
                                </div>
                                <div class="col-9 col-sm-7 offset-3">
                                    <button class="btn btn-primary" type="button">Save</button>
                                </div>
                            </form>
                            <div class="border-dashed-bottom my-4"></div>
                        </div>
                        <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/g.png"
                                                               alt="" width="56"/></a>
                            <div class="flex-1 position-relative ps-3">
                                <h6 class="fs-0 mb-0">Big Data Engineer<span data-bs-toggle="tooltip"
                                                                             data-bs-placement="top"
                                                                             title="Verified"><small
                                        class="fa fa-check-circle text-primary"
                                        data-fa-transform="shrink-4 down-2"></small></span>
                                </h6>
                                <p class="mb-1"><a href="#!">Google</a></p>
                                <p class="text-1000 mb-0">Apr 2012 - Present &bull; 6 yrs 9 mos</p>
                                <p class="text-1000 mb-0">California, USA</p>
                                <div class="border-dashed-bottom my-3"></div>
                            </div>
                        </div>
                        <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/apple.png"
                                                               alt="" width="56"/></a>
                            <div class="flex-1 position-relative ps-3">
                                <h6 class="fs-0 mb-0">Software Engineer<span data-bs-toggle="tooltip"
                                                                             data-bs-placement="top"
                                                                             title="Verified"><small
                                        class="fa fa-check-circle text-primary"
                                        data-fa-transform="shrink-4 down-2"></small></span>
                                </h6>
                                <p class="mb-1"><a href="#!">Apple</a></p>
                                <p class="text-1000 mb-0">Jan 2012 - Apr 2012 &bull; 4 mos</p>
                                <p class="text-1000 mb-0">California, USA</p>
                                <div class="border-dashed-bottom my-3"></div>
                            </div>
                        </div>
                        <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/nike.png"
                                                               alt="" width="56"/></a>
                            <div class="flex-1 position-relative ps-3">
                                <h6 class="fs-0 mb-0">Mobile App Developer<span data-bs-toggle="tooltip"
                                                                                data-bs-placement="top"
                                                                                title="Verified"><small
                                        class="fa fa-check-circle text-primary"
                                        data-fa-transform="shrink-4 down-2"></small></span>
                                </h6>
                                <p class="mb-1"><a href="#!">Nike</a></p>
                                <p class="text-1000 mb-0">Jan 2011 - Apr 2012 &bull; 1 yr 4 mos</p>
                                <p class="text-1000 mb-0">Beaverton, USA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 mb-lg-0">
                    <div class="card-header">
                        <h5 class="mb-0">Educations</h5>
                    </div>
                    <div class="card-body bg-light"><a class="mb-4 d-block d-flex align-items-center"
                                                       href="#education-form" data-bs-toggle="collapse"
                                                       aria-expanded="false" aria-controls="education-form"><span
                            class="circle-dashed"><span class="fas fa-plus"></span></span><span class="ms-3">Add new education</span></a>
                        <div class="collapse" id="education-form">
                            <form class="row">
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label" for="school">School</label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm" id="school" type="text"/>
                                </div>
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label" for="degree">Degree</label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm" id="degree" type="text"/>
                                </div>
                                <div class="col-3 mb-3 text-lg-end">
                                    <label class="form-label" for="field">Field</label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm" id="field" type="text"/>
                                </div>
                                <div class="col-3 text-lg-end">
                                    <label class="form-label" for="edu-form3">From </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm datetimepicker" id="edu-form3"
                                           type="text" placeholder="d/m/y" data-options='{"dateFormat":"d/m/y"}'/>
                                </div>
                                <div class="col-3 text-lg-end">
                                    <label class="form-label" for="edu-to">To </label>
                                </div>
                                <div class="col-9 col-sm-7 mb-3">
                                    <input class="form-control form-control-sm datetimepicker" id="edu-to" type="text"
                                           placeholder="d/m/y" data-options='{"dateFormat":"d/m/y"}'/>
                                </div>
                                <div class="col-9 col-sm-7 offset-3">
                                    <button class="btn btn-primary" type="button">Save</button>
                                </div>
                            </form>
                            <div class="border-dashed-bottom my-3"></div>
                        </div>
                        <div class="d-flex"><a href="#!">
                            <div class="avatar avatar-3xl">
                                <div class="avatar-name rounded-circle"><span>SU</span></div>
                            </div>
                        </a>
                            <div class="flex-1 position-relative ps-3">
                                <h6 class="fs-0 mb-0"><a href="#!">Stanford University<span data-bs-toggle="tooltip"
                                                                                            data-bs-placement="top"
                                                                                            title="Verified"><small
                                        class="fa fa-check-circle text-primary"
                                        data-fa-transform="shrink-4 down-2"></small></span></a></h6>
                                <p class="mb-1">Computer Science and Engineering</p>
                                <p class="text-1000 mb-0">2010 - 2014 • 4 yrs</p>
                                <p class="text-1000 mb-0">California, USA</p>
                                <div class="border-dashed-bottom my-3"></div>
                            </div>
                        </div>
                        <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/staten.png"
                                                               alt="" width="56"/></a>
                            <div class="flex-1 position-relative ps-3">
                                <h6 class="fs-0 mb-0"><a href="#!">Staten Island Technical High School<span
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small
                                        class="fa fa-check-circle text-primary"
                                        data-fa-transform="shrink-4 down-2"></small></span></a></h6>
                                <p class="mb-1">Higher Secondary School Certificate, Science</p>
                                <p class="text-1000 mb-0">2008 - 2010 &bull; 2 yrs</p>
                                <p class="text-1000 mb-0">New York, USA</p>
                                <div class="border-dashed-bottom my-3"></div>
                            </div>
                        </div>
                        <div class="d-flex"><a href="#!"> <img class="img-fluid"
                                                               src="../../assets/img/logos/tj-heigh-school.png" alt=""
                                                               width="56"/></a>
                            <div class="flex-1 position-relative ps-3">
                                <h6 class="fs-0 mb-0"><a href="#!">Thomas Jefferson High School for Science and
                                    Technology<span data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="Verified"><small class="fa fa-check-circle text-primary"
                                                                            data-fa-transform="shrink-4 down-2"></small></span></a>
                                </h6>
                                <p class="mb-1">Secondary School Certificate, Science</p>
                                <p class="text-1000 mb-0">2003 - 2008 &bull; 5 yrs</p>
                                <p class="text-1000 mb-0">Alexandria, USA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ps-lg-2">
                <div class="sticky-sidebar">
                    <div class="card mb-3 overflow-hidden">
                        <div class="card-header">
                            <h5 class="mb-0">Account Settings</h5>
                        </div>
                        <div class="card-body bg-light">
                            <h6 class="fw-bold">Who can see your profile ?<span class="fs--2 ms-1 text-primary"
                                                                                data-bs-toggle="tooltip"
                                                                                data-bs-placement="top"
                                                                                title="Only The group of selected people can see your profile"><span
                                    class="fas fa-question-circle"></span></span></h6>
                            <div class="ps-2">
                                <div class="form-check mb-0 lh-1">
                                    <input class="form-check-input" type="radio" value="" id="everyone"
                                           name="view-settings"/>
                                    <label class="form-check-label mb-0" for="everyone">Everyone
                                    </label>
                                </div>
                                <div class="form-check mb-0 lh-1">
                                    <input class="form-check-input" type="radio" value="" id="my-followers"
                                           checked="checked" name="view-settings"/>
                                    <label class="form-check-label mb-0" for="my-followers">My followers
                                    </label>
                                </div>
                                <div class="form-check mb-0 lh-1">
                                    <input class="form-check-input" type="radio" value="" id="only-me"
                                           name="view-settings"/>
                                    <label class="form-check-label mb-0" for="only-me">Only me
                                    </label>
                                </div>
                            </div>
                            <h6 class="mt-2 fw-bold">Who can tag you ?<span class="fs--2 ms-1 text-primary"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top"
                                                                            title="Only The group of selected people can tag you"><span
                                    class="fas fa-question-circle"></span></span></h6>
                            <div class="ps-2">
                                <div class="form-check mb-0 lh-1">
                                    <input class="form-check-input" type="radio" value="" id="tag-everyone"
                                           name="tag-settings"/>
                                    <label class="form-check-label mb-0" for="tag-everyone">Everyone
                                    </label>
                                </div>
                                <div class="form-check mb-0 lh-1">
                                    <input class="form-check-input" type="radio" value="" id="group-members"
                                           checked="checked" name="tag-settings"/>
                                    <label class="form-check-label mb-0" for="group-members">Group Members
                                    </label>
                                </div>
                            </div>
                            <div class="border-dashed-bottom my-3"></div>
                            <div class="form-check mb-0 lh-1">
                                <input class="form-check-input" type="checkbox" id="userSettings1" checked="checked"/>
                                <label class="form-check-label mb-0" for="userSettings1">Allow users to show your
                                    followers
                                </label>
                            </div>
                            <div class="form-check mb-0 lh-1">
                                <input class="form-check-input" type="checkbox" id="userSettings2" checked="checked"/>
                                <label class="form-check-label mb-0" for="userSettings2">Allow users to show your email
                                </label>
                            </div>
                            <div class="form-check mb-0 lh-1">
                                <input class="form-check-input" type="checkbox" id="userSettings3"/>
                                <label class="form-check-label mb-0" for="userSettings3">Allow users to show your
                                    experiences
                                </label>
                            </div>
                            <div class="border-dashed-bottom my-3"></div>
                            <div class="form-check form-switch mb-0 lh-1">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                       checked="checked"/>
                                <label class="form-check-label mb-0" for="flexSwitchCheckDefault">Make your phone number
                                    visible
                                </label>
                            </div>
                            <div class="form-check form-switch mb-0 lh-1">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"/>
                                <label class="form-check-label mb-0" for="flexSwitchCheckChecked">Allow user to follow
                                    you
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">Billing Setting</h5>
                        </div>
                        <div class="card-body bg-light">
                            <h5>Plan</h5>
                            <p class="fs-0"><strong>Developer</strong>- Unlimited private repositories</p><a
                                class="btn btn-falcon-default btn-sm" href="#!">Update Plan</a>
                        </div>
                        <div class="card-body bg-light border-top">
                            <h5>Payment</h5>
                            <p class="fs-0">You have not added any payment.</p><a class="btn btn-falcon-default btn-sm"
                                                                                  href="#!">Add Payment </a>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">Change Password</h5>
                        </div>
                        <div class="card-body bg-light">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label" for="old-password">Old Password</label>
                                    <input class="form-control" id="old-password" type="password"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="new-password">New Password</label>
                                    <input class="form-control" id="new-password" type="password"/>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="confirm-password">Confirm Password</label>
                                    <input class="form-control" id="confirm-password" type="password"/>
                                </div>
                                <button class="btn btn-primary d-block w-100" type="submit">Update Password</button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Danger Zone</h5>
                        </div>
                        <div class="card-body bg-light">
                            <h5 class="fs-0">Transfer Ownership</h5>
                            <p class="fs--1">Transfer this account to another user or to an organization where you have
                                the ability to create repositories.</p><a class="btn btn-falcon-warning d-block"
                                                                          href="#!">Transfer</a>
                            <div class="border-dashed-bottom my-4"></div>
                            <h5 class="fs-0">Delete this account</h5>
                            <p class="fs--1">Once you delete a account, there is no going back. Please be certain.</p><a
                                class="btn btn-falcon-danger d-block" href="#!">Deactivate Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-600">Thank you for creating with Falcon <span
                            class="d-none d-sm-inline-block">| </span><br class="d-sm-none"/> 2021 &copy; <a
                            href="https://themewagon.com">Themewagon</a></p>
                </div>
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-600">v3.4.0</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}